<div id="header">
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-header" align="center">
                <a class="navbar-brand" href="~/">
                    <span style="color: #FFF; font-size: 18px; float: left; margin: 15px 0px 0px 10px;">  Integrados</span>
                    <span style="color: red; font-size: 10px; float: left; margin: 5px 0px 0px 5px;">  Beta </span>
                </a>
            </div>
           
        </div>
    </div>
</div>
