<div id="header">
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-header" align="center">
                <a class="navbar-brand" href="~/">
                    <span style="color: #FFF; font-size: 18px; float: left; margin: 15px 0px 0px 10px;">  Integrados</span>
                    <span style="color: red; font-size: 10px; float: left; margin: 5px 0px 0px 5px;">  Beta </span>
                </a>
            </div>
            <nav class="top-nav" role="navigation">
                <ul class="nav navbar-nav pull-left">
                    <li id="toggle-sidebar-li"><a href="#" id="toggle-sidebar"><i class="im-menu2"></i></a></li>
                    <li id="toggle-sidebar-li" style="padding-top: 8px;">

                    </li>
                </ul>
                
            </nav>
            <div id="header-area" class="fadeInDown">
                <div class="header-area-inner">

                    <ul class="list-unstyled list-inline"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
