<div id=sidebar>
    <div class=sidebar-inner style="font-size:14px !important;">
        <a href="~/Administrador/index">
            Administrador
            <i class="st-user"></i>
        </a>

        <br />
        <a href="~/Aluno/index">
            Alunos
            <i class="st-users"></i>
        </a>
        <br />
        <a href="~/Avaliador/index">
            Avaliador
            <i class="im-pencil"></i>
        </a>
        <br />
        <a href="~/Professor/index">
            Professor
            <i class="im-book"></i>
        </a>
        <br />
        <a href="~/Projeto/index">
            Projeto
            <i class="im-library"></i>
        </a>
    </div>
</div>