<div id="right-sidebar" class="hide-sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-panel mt0">
            <div class="sidebar-panel-content fullwidth pt0">
                <div class="alert fade in">
                     
                    Bem vindo(a) a central de notificações.
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>